<div class="row g-0 my-2" id="js-comment-item-<%=comment.id%>">
  <div class="col-2 d-flex flex-column justify-content-center align-items-center">
    <% if comment.user.avatar.present? %>
      <%= image_tag comment.user.avatar.url, size:"30x30"  %>
    <% else %>
      <%= image_tag 'avatar_default_image.png', size:"30x30" %>
    <% end %>
    <div>
      <%=comment.user.name%>
    </div>
  </div>
  <div class="col-10">
    <div class=" outline-light-brown rounded p-1">
      <div class="">
        <%=comment.content%>
      </div>
      <div class="row g-0 text-end small align-items-end">
        <div class="small text-muted offset-6 col-4">
          <%=comment.decorate.created_at%>
        </div>
        <div class="small col-1">
          <%= link_to gift_comment_path(gift, comment), method: :delete, remote: true, data: {confirm: 'delete?'} do%>
            <i class="fa fa-trash light-brown" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="small col-1">
          <%= link_to edit_gift_comment_path(gift, comment), remote: true do%>
            <i class="fas fa-edit light-brown" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
