<tr>
  <td><% if user.avatar.present? %>
      <%= image_tag user.avatar.url, size:"70x70"  %>
    <% else %>
      <%= image_tag 'avatar_default_image.png', size:"70x70" %>
    <% end %>
  </td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= link_to 'userページへ', user_path(user) %></td>
</tr>
