<tr>
  <td><% if user.avatar.present? %>
      <%= image_tag user.avatar.url, class:"card-img-top", size:"50x50"  %>
    <% else %>
      <%= image_tag 'avatar_default_image.png', size:"50x50" %>
    <% end %>
  </td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= link_to 'userページへ', user_path(user) %></td>
</tr>
