<header>
  <nav class="navbar navbar-expand-lg bg-brown white">
    <div class="container-fluid">
      <%=link_to root_path ,class:'navbar-brand' do%>
        <%= image_tag 'logo_without_text.png', size:'32x28' %>
      <%end%>
      <a class="navbar-brand white" href="#">Give To...</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if logged_in? %>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Gift一覧', gifts_path, class:"nav-link active white", "aria-current"=>"page" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ユーザー一覧', users_path, class:"nav-link active white", "aria-current"=>"page" %>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', mypage_path, class:"nav-link active white", "aria-current"=>"page" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', logout_path, method: :delete, data: {confirm: 'ログアウトしますか？'} ,class:'nav-link white'%>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 me-5 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Giftを出品する', new_gift_path, class:'btn btn-fill-wine-red'%>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>
