<%= form_with(model: gift, local: true) do |f| %>
  <%= render 'shared/error_message', obj: gift %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10 %>
  </div>
  <div>
    <%= f.label :how_to_give %>
    <%= f.text_area :how_to_give, rows: 2 %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
