<div class="col-3">
  <div class="card h-100">
    <% if gift.images.any? %>
      <%binding.pry%>
      <%= image_tag gift.images.first.url, class:"card-img-top" %>
    <% else %>
      <%= image_tag 'gift_default_image.png' %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= gift.title %></h5>
      <div class="card-text">
        <ul class="list-unstyled">
          <li>
            <%= gift.description %>
          </li>
          <li>
            <%= gift.price %>
          </li>
          <li>
            <%= gift.created_at.strftime('%-m/%d %H:%M') %>
          </li>
          <li>
            <%= link_to  user_path(gift.user) do %>
              <%= gift.user.name %>
            <% end %>
          </li>
          <li>
            <% unless current_user.my_gift?(gift) %>
              <% if current_user.liked?(gift) %>
                <%= render 'liked_star', gift: gift %>
              <% else %>
                <%= render 'unliked_star', gift: gift %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= link_to 'Show', gift %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
