<tr>
  <td><% if gift.images.any? %>
      <%= image_tag gift.images.first.url, size:"100x100"  %>
    <% else %>
      <%= image_tag 'gift_default_image.png', size:"100x100" %>
    <% end %>
  </td>
  <td><%= gift.title %></td>
  <td>
    <div style="height: 4rem; overflow:auto;">
      <%= gift.description %>
    </div>
  </td>
  <% if gift.done_deal %>
    <td><span class="badge bg-wine-red">sold out</span></td>
  <% elsif gift.status = 'display' %>
    <td><span class="badge bg-primary">公開中</span></td>
  <% elsif gift.status = 'undisplay' %>
    <td><span class="badge bg-warning">非公開/下書き</span></td>
  <% end %>
  <td><%= link_to 'giftページへ', gift_path(gift) %></td>
</tr>
