<!--Main Navigation-->
<div class="sidebar">
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-light-brown">
    <div class="position-sticky">
      <ul class="list-unstyled">
        <li class="list-group list-group-flush text-center">
          <%= link_to '出品している商品',  gifts_path, class:"list-group-item list-group-item-action py-3 ripple bg-light-brown white", 'aria-current'=>"true" %>
        </li>
        <li class="list-group list-group-flush  text-center">
          <%= link_to '出品している商品',  gifts_path, class:"list-group-item list-group-item-action py-3 ripple bg-light-brown white", 'aria-current'=>"true" %>
        </li>
        <li class="list-group list-group-flush  text-center">
          <%= link_to '出品している商品',  gifts_path, class:"list-group-item list-group-item-action py-3 ripple bg-light-brown white", 'aria-current'=>"true" %>
        </li>
        <li class="list-group list-group-flush  text-center">
          <%= link_to '出品している商品',  gifts_path, class:"list-group-item list-group-item-action py-3 ripple bg-light-brown white", 'aria-current'=>"true" %>
        </li>
        <li class="list-group list-group-flush  text-center">
          <%= link_to '出品している商品',  gifts_path, class:"list-group-item list-group-item-action py-3 ripple bg-light-brown white", 'aria-current'=>"true" %>
        </li>
      </ul>
      <ul class="list-unstyled">
        <li class="list-group list-group-flush text-center">
          <%= link_to '出品している商品',  gifts_path, class:"list-group-item list-group-item-action py-3 ripple bg-light-brown white", 'aria-current'=>"true" %>
        </li>
      </ul>
    </div>
  </nav>
</div>
