<!--Main Navigation-->
<div class="d-flex flex-column text-center  border-white bg-light-brown fs-5" id='sidebar'>
  <div class="list-group-flush border-bottom">
    <%= link_to '自分のGift一覧', mypages_path(sort_id: :index), remote: true, class:"list-group-item list-group-item-action py-4 ripple bg-light-brown white", 'aria-current'=>"true" %>
  </div>
  <div class="list-group-flush border-bottom">
    <%= link_to '公開しているGift', mypages_path(sort_id: :display), remote: true, class:"list-group-item list-group-item-action py-4 ripple bg-light-brown white", 'aria-current'=>"true" %>
  </div>
  <div class="list-group-flush border-bottom">
    <%= link_to '渡したGift', mypages_path(sort_id: :done_deal), remote: true, class:"list-group-item list-group-item-action py-4 ripple bg-light-brown white", 'aria-current'=>"true" %>
  </div>
  <div class="list-group-flush border-bottom">
    <%= link_to '非公開・下書き', mypages_path(sort_id: :undisplay), remote: true, class:"list-group-item list-group-item-action py-4 ripple bg-light-brown white", 'aria-current'=>"true" %>
  </div>
  <div class="list-group-flush border-bottom">
    <%= link_to '受け取ったGift', mypages_path(sort_id: :gotten), remote: true, class:"list-group-item list-group-item-action py-4 ripple bg-light-brown white", 'aria-current'=>"true" %>
  </div>
  <div class="list-group-flush border-bottom">
    <%= link_to 'いいねしたGift', mypages_path(sort_id: :liked), remote: true, class:"list-group-item list-group-item-action py-4 ripple bg-light-brown white", 'aria-current'=>"true" %>
  </div>
  <div class="mt-4 mb-auto">
    <%= link_to 'Giftを公開する', new_gift_path, class:'btn btn-fill-wine-red w-50'%>
  </div>
  <%# ここから下側 %>
  <div class="list-group-flush border-bottom border-top">
    <%= link_to 'プロフィール',  user_path(@current_user), class:"list-group-item list-group-item-action py-4 ripple bg-light-brown white", 'aria-current'=>"true" %>
  </div>
  <div class="list-group-flush border-bottom">
    <%= link_to '通知・機能機能(工事中)',  gifts_path, class:"list-group-item list-group-item-action py-4 ripple bg-light-brown white", 'aria-current'=>"true" %>
  </div>
  <div class="list-group-flush border-bottom">
    <%= link_to 'お問い合わせ(工事中)',  gifts_path, class:"list-group-item list-group-item-action py-4 ripple bg-light-brown white", 'aria-current'=>"true" %>
  </div>
</div>
